[submodule "duckdb_pglake/duckdb"]
	path = duckdb_pglake/duckdb
	url = https://github.com/duckdb/duckdb
[submodule "duckdb_pglake/duckdb-postgres"]
	path = duckdb_pglake/duckdb-postgres
	url = https://github.com/duckdb/duckdb-postgres
[submodule "duckdb_pglake/duckdb-azure"]
	path = duckdb_pglake/duckdb-azure
	url = https://github.com/duckdb/duckdb-azure
[submodule "avro"]
	path = avro
	url = https://github.com/apache/avro.git
[submodule "test_common/rest_catalog/polaris"]
	path = test_common/rest_catalog/polaris
	url = https://github.com/apache/polaris.git
